@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-gold: 219 197 128;
    --color-navy: 45 45 61;
    --color-turquoise: 77 165 158;
    --color-grey: 88 88 90;
  }
}

body {
  @apply bg-navy text-white;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}